
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class = "container col-6 ">
<br>
  <h2>ログイン</h2>

  <div class="form-group mt-4">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>

  <div class="form-group mt-4">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group mt-4">
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を保存する %>
    </div>
  <% end %>

  <div class="actions mt-4">
    <%= f.submit "ログイン" ,class:"btn btn-success"%>
  </div>
</div>
<% end %>
<br>
<br>
<br>
<div class = "container mt-7">

<a class = 'mt-3'>
<%= link_to "新規登録画面へ",  new_user_registration_path, style:"text-decoration:none;" %>
</a>
<br>
<a class = 'mt-3'>
<%= link_to "パスワードを忘れた方へ" ,new_user_password_path ,style:"text-decoration:none;"%>
</a>
<br>
<a>
  <%= link_to "LINE", user_line_omniauth_authorize_path, style:"text-decoration:none;" %>
</a>
<a href="https://access.line.me/oauth2/v2.1/authorize?client_id=1656711626&redirect_uri=https%3A%2F%2Fsyaflack%2Fusers%2Fauth%2Fline%2Fcallback&response_type=code&scope=profile+openid&state=d715b232eab85d8d3a3020d72736c5fad8842e1e072ca59a
          "> LINEログインする </a>

</div>

<!-- 切り替えボタンの設定 -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
  LINEでログインする
</button>

<!-- モーダルの設定 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">モーダルのタイトル</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <p>ログイン時にはあなたのメールアドレスが必要です！</p>
        <br>
        <p>同意しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
        <%=link_to "同意する","https://access.line.me/oauth2/v2.1/authorize?client_id=1656711626&redirect_uri=https%3A%2F%2Fsyaflack%2Fusers%2Fauth%2Fline%2Fcallback&response_type=code&scope=profile+openid&state=d715b232eab85d8d3a3020d72736c5fad8842e1e072ca59a",class:"btn btn-primary"%>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->