<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">新規イベント</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



            <%= form_for @schedule, remote:true do |form| %>
            <div class="modal-body">

                <br>
    
                <div class="form-group form-floating">
                <%= form.text_field :title, class:"form-control",placeholder:"タイトル",id:"floatingInput" ,required:true%>
                <label for="floatingInput">イベント</label>
                </div>

　　　　　　　　　<br>

                <div class="form-group form-floating">
                <%= form.text_area :content, class:"form-control",placeholder:"内容",id:"floatingInput" ,required:true%>
                <label for="floatingInput">内容</label>
                </div>

                <br>

                <div class="form-group">
                <%= label :start_time, "日時" %>
                <br>
                <%= form.time_select :start_time,{},{class:"form-control",style:'display: inline-block; width:auto;'}%>
                </div>

                <br>

                
            </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <%= form.submit "追加する", class: "btn btn-primary" %>
      </div>
                <% end %>

    </div>
  </div>
</div>
