<div class="modal fade" id="s-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div class="modal-body">
            <% posts.each do |t| %>

        <div class="card text-center col-5 m-lg-auto">
            <div class="card-header" style="font-size: x-large; font-weight:bold; background-color:#66FF66">
            <span class = "badge bg-success"><%= t.importanceoftask %></span>    
            </div>
                <div class="card-body m-md-2">
                <h3 class="card-title m-md-4"><%= t.task %></h3>
                    <%= link_to "編集する", edit_post_path(t.id), class: "btn-primary btn-lg", data:{remote: true}, style: "text-decoration: none;" %>
                    <%= link_to "達成！", post_path(t.id), method: :delete, data: { confirm: '本当に削除しますか？',remote:true} , class: "btn-danger btn-lg", style: "text-decoration: none;"%>　
                </div>
                <div class="card-footer text-muted" style="font-size: x-large; font-weight:bold; background-color:#66FF66; color:#000000;">
                    <%= t.datetime&.strftime("%Y年%m月%d日%H時%M分") %>
                </div>
        </div>
            <% end %>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>